@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

html {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  background-color: #363636;
  color: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #735cdd;
  display: inline-flex;
  width: 100%;
  height: 100px;
}

nav h1 {
  padding-left: 40px;
  font-size: 28px;
  margin: auto;
  width: auto;
  height: auto;
  font-family: "Questrial", sans-serif;
}

h3 {
  font-family: "Questrial", sans-serif;
  font-weight: normal;
}

h4 {
  font-family: "Questrial", sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

nav ul {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
  list-style: none;
  justify-content: flex-end;
  margin: auto;
  font-family: "Questrial", sans-serif;
}

nav > ul > li {
  padding: 0 20px;
  opacity: 0.8;
  cursor: pointer;
  font-size: 18px;
}

nav > ul > li:hover {
  opacity: 1;
}

nav > ul > li:last-child {
  left: 0px;
  margin-left: 5rem;
  margin-right: 2rem;
}

nav > ul > .active {
  opacity: 1;
}

#notification {
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.wrapper {
  background-color: #494949;
  margin-top: 5%;
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 5%;
}

.container {
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

.container > header {
  padding: 20px 10px;
}

.container > footer {
  padding: 20px 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

th,
td {
  text-align: left;
  padding: 25px;
}

thead {
  background-color: #735cdd;
}

td {
  background-color: #fff;
  color: #363636;
}

table tr td:last-child {
  text-align: center;
}
table tr th:last-child {
  text-align: center;
}

table tr:first-child th:first-child {
  border-top-left-radius: 5px;
}

table tr:last-child th:last-child {
  border-top-right-radius: 5px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

table tr button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
}

textarea {
  font-family: Arial;
}

#create > .wrapper > .container > .script-editor {
  display: flex;
  justify-content: space-between;
  height: 20rem;
  margin-bottom: 40px;
}

#create > .wrapper > .container > .script-editor > .script-info {
  width: 40%;
}

#create
  > .wrapper
  > .container
  > .script-editor
  .script-info
  > input[type="text"] {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  margin-top: 5px;
}

#create > .wrapper > .container > .script-editor > .script-info > textarea {
  width: 100%;
  height: 130px;
  resize: none;
  margin-bottom: 10px;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  margin-top: 5px;
}

#create > .wrapper > .container > .script-editor > .script-info > button {
  padding: 20px 30px;
  outline: none;
  border: none;
  background-color: #735cdd;
  cursor: pointer;
  color: white;
  margin-right: 10px;
}

#create > .wrapper > .container > .script-editor > .script-info > button:hover {
  opacity: 0.9;
}

#create > .wrapper > .container > .script-editor > .script-content {
  width: 56%;
}

#create > .wrapper > .container > .script-editor > .script-content > textarea {
  width: 100%;
  height: 100%;
  resize: none;
  outline: none;
  border: none;
}

#catalog > .wrapper > .container > #scripts-catalog {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-wrap: warp;
  height: auto;
  width: 100%;
}

#catalog > .wrapper > .container > #scripts-catalog > .card {
  background-color: #fff;
  color: #363636;
  height: auto;
  width: auto;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

#catalog > .wrapper > .container > #scripts-catalog > .card > header {
  width: auto;
  height: auto;
  background-color: #735cdd;
  color: #fff;
}

#catalog > .wrapper > .container > #scripts-catalog > .card > header > h4 {
  padding: 20px 30px;
  width: auto;
  height: auto;
  background-color: #735cdd;
  color: #fff;
}

#catalog > .wrapper > .container > #scripts-catalog > .card > .card-body {
  padding: 20px 30px;
}

#catalog > .wrapper > .container > #scripts-catalog > .card > .card-body > p {
  padding: 0;
}

#catalog
  > .wrapper
  > .container
  > #scripts-catalog
  > .card
  > .card-body
  > button {
  padding: 10px 20px;
  outline: none;
  border: none;
  background-color: #735cdd;
  cursor: pointer;
  color: white;
  margin-right: 10px;
}

#catalog > .wrapper > .container > #scripts-catalog > .card > footer {
  padding: 0 30px 20px 30px;
  display: inline-flex;
  width: auto;
}

#catalog > .wrapper > .container > #scripts-catalog > .card > footer > span {
  font-size: 12px;
  color:grey;
  margin-right: 20px;
}


#home > .wrapper > .container > #my-scripts > .share-script {
  padding: 20px;
}

#home > .wrapper > .container > #my-scripts > .share-script > input {
  padding: 20px;
}